:root {
    --SCALE: 0.2;
    --WIDTH: calc(var(--SCALE) * 1038px);
    --HEIGHT: calc(var(--SCALE) * 747px);
    --BACKGROUND-SIZE: calc(var(--SCALE) * 2550px)
}

.tbaksc
{
    position:relative;
    display:flex;
    justify-content: space-evenly;
}
.tbaksc_board
{
    position: relative;
    display: grid;
    padding: 25px;
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
    background-image: url('img/Orion.jpg');
    background-size: cover;
}

.tbaksc_deck
{
    position: relative;
    width: var(--WIDTH);
    height: var(--HEIGHT);
    background-color: black;
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

.tbaksc_space
{
    position: absolute;
    background-image: url('img/S1-1-8.jpg');
    background-size: var(--BACKGROUND-SIZE);
}
