_div {
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

.tbaksc_board
{
    margin: 0 auto;
    display: grid;
    padding: 25px;
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
    background-image: url('img/Orion.jpg');
    background-size: cover;
}

.tbaksc_deck
{
    background-image: url('img/S1-1-8.jpg');
    background-size: 685px;
    background-color: black;
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

.tbaksc_space
{
    background-image: url('img/S1-1-8.jpg');
    background-size: 685px;
    background-color: black;
}

